/*************************/
/*****   GENERAL  ****/
/*************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}
.brandRed {
  color: #d00000;
}
.brandGrey {
  color: #d7d7d7;
}

nav > h1 {
  font-size: 3.1rem;
}

nav {
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    justify-content: space-between;

    li {
      margin: 10px;
      font-weight: 600;
    }
  }
}

.menubar {
  display: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  p {
    font-size: 1.7rem;
  }

  ul {
    li {
      padding: 10px 0;
      padding-left: 10px;
    }
  }
}

.fakeSCSS {
  background-color: #ffffff;
}

.sidebarOpen {
  display: block;
}

.sidebarHidden {
  display: none;
}

.sidebarHeader {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}

.sidebarShadowLayer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.8;
}

.sidebarContainer {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 350px;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f5f5;
}

.sidebarContent {
}

.sidebarFooter {
  padding: 0 20px;
  padding-top: 20px;
  background-color: #000000;
}

.blackBanner {
  max-width: 1500px;
  padding: 50px 100px;
  background-color: #000000;
  color: #ffffff;
}

.blackBannerContent {
  h2 {
    font-size: 3.75rem;
    font-weight: 600;
    margin-bottom: 10px;
  }

  p {
    font-size: 2.5rem;
    font-weight: 100;
  }
}

.banner {
  margin: auto;
  max-width: 1500px;
  height: 400px;
  padding: 0px 50px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
}

.bannerContent {
  h2 {
    font-size: 3.75rem;
    font-weight: 600;
  }

  p {
    font-size: 2.5rem;
    font-weight: 200;
    margin-bottom: 20px;
  }

  a {
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 50px;
    background-color: #000000;
    color: #ffffff;
    display: inline-block;
    padding: 10px 20px;
  }
}

.filterMenuIcon {
  display: none;
}

footer {
  background-color: #000000;
  color: #ffffff;
  padding: 50px 0px;
}

.footerContent {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLeft {
  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.socialLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerRight {
  p:first-child {
    font-size: 1.25rem;
    font-weight: 600;
  }

  p:nth-child(2) {
    font-size: 1.25rem;
    font-weight: 200;
  }

  p:nth-child(3) {
    font-size: 1.25rem;
    font-weight: 200;
  }
}

.pageCounter {
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    margin: 0 10px;
  }
}

.pageCounterBold {
  font-weight: 600;
}

.grow {
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.moveUp {
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scaleX(1.05);
    background-color: #d00000;
    border-color: #d00000;
  }
}

.bolder {
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    font-weight: 600;
    transform: scaleX(1.05);
  }
}

/*************************/
/*****  FIN GENERAL  ****/
/*************************/

/*************************/
/*****    INICIO  ****/
/*************************/

.works {
  padding: 50px 0px;

  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
  }
}

.worksList {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  li {
    width: 30%;
  }
}

.worksButton {
  text-align: center;

  a {
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 50px;
    background-color: #000000;
    color: #ffffff;
    display: inline-block;
    padding: 10px 50px;
  }
}

.activities {
  background-color: #000000;
  color: #ffffff;
  padding: 50px 0px;
}

.activitiesContent {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activitiesLeft {
  h2 {
    font-size: 3.75rem;
    font-weight: 600;
    margin-bottom: 10px;
  }

  a {
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 50px;
    border: 2px solid #ffffff;
    color: #ffffff;
    display: inline-block;
    padding: 10px 50px;
  }
}

.activitiesRight {
  p:first-child {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
  }

  p:nth-child(2) {
    font-size: 1.25rem;
    font-weight: 600;
  }

  p {
    font-size: 1.25rem;
    font-weight: 200;
  }
}

.contact {
  background-color: #f5f5f5;
  padding: 50px 0px;
}

.contactContent {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactLeft {
  h2 {
    font-size: 3.75rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.contactRight {
  a {
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 50px;
    background-color: #000000;
    color: #ffffff;
    display: inline-block;
    padding: 10px 50px;
  }
}

.store {
  padding: 50px 0px;
}

.storeContent {
  width: 80%;
  max-width: 1200px;
  margin: auto;

  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 50px;
  }
}

.storeList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;

  li {
    width: 24%;

    div {
      text-align: center;
      margin-bottom: 10px;
    }

    p {
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 1.25rem;
      font-weight: 100;
    }
  }
}

.storeButton {
  text-align: center;

  a {
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 50px;
    background-color: #000000;
    color: #ffffff;
    display: inline-block;
    padding: 10px 50px;
  }
}

/*************************/
/*****  FIN INICIO  ****/
/*************************/

/*************************/
/*****   COLECCION   ****/
/*************************/

.colectionePage {
  padding: 50px;
  max-width: 1500px;
  margin: auto;
}

.colectionePageContent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.colectionePageFilter {
  width: 21%;
  li {
    font-size: 1.25rem;
    font-weight: 200;
    padding: 0 50px;
    margin-bottom: 10px;
  }

  li:first-child {
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.colectionePageProductList {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 79%;

  li {
    width: 29%;
    margin-bottom: 50px;

    div {
      img {
        width: 100%;
        margin-bottom: 10px;
      }
    }

    h3 {
      font-size: 1.25rem;
      font-weight: 100;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.25rem;
    }
  }
}

/*************************/
/*****  FIN COLECCION  ****/
/*************************/

/*************************/
/*****    ACTIVIDADES    ****/
/*************************/

.activitiesPage {
  padding: 50px;
  max-width: 1500px;
  margin: auto;
}

.activitiesPageContent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.activitiesPageFilter {
  width: 21%;

  li {
    font-size: 1.25rem;
    font-weight: 200;
    padding: 0 50px;
    margin-bottom: 10px;
  }

  li:first-child {
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.activitiesPageProductList {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 79%;

  li {
    border-top: solid 10px #000000;
    width: 40%;
    padding-top: 10px;
    margin-bottom: 50px;

    h3 {
      font-size: 3.75rem;
      font-weight: 100;
      margin-top: 10px;
      margin-bottom: 30px;
      padding-left: 50px;
      width: 90%;
    }

    p {
      font-size: 1.25rem;
      padding-left: 50px;
    }

    a {
      font-size: 1.25rem;
      font-weight: 600;
      border-radius: 50px;
      text-align: center;
      color: #ffffff;
      background-color: #000000;
      margin: 0 auto;
      margin-top: 100px;
      display: block;
      padding: 10px 50px;
      width: 90%;
    }
  }
}

/*************************/
/*****  FIN ACTIVIDADES  ****/
/*************************/

/*************************/
/*****    TIENDA    ****/
/*************************/

.storePage {
  padding: 50px;
  max-width: 1500px;
  margin: auto;
}

.storePageContent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.storePageFilter {
  width: 21%;

  li {
    font-size: 1.25rem;
    font-weight: 200;
    padding: 0 50px;
    margin-bottom: 10px;
  }

  li:first-child {
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.storePageProductList {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 79%;

  li {
    width: 24%;
    margin-bottom: 50px;

    div img {
      width: 100%;
      margin-bottom: 10px;
    }

    p {
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 1.25rem;
      font-weight: 100;
    }
  }
}

/*************************/
/*****    FIN TIENDA    ****/
/*************************/

/*************************/
/*****    CONTACTO ****/
/*************************/

.contactPage {
  padding: 50px 0px;
  margin: auto;
  width: 80%;
  max-width: 1500px;
}

.contactLabel {
  font-size: 1.25rem;
  font-weight: 200;
  margin-bottom: 20px;
}

.contactList {
  margin-bottom: 50px;

  li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;

    div {
      margin-right: 20px;
    }
  }
}

.contactMap img {
  width: 100%;
}

/*************************/
/*****   FIN CONTACTO ****/
/*************************/

@media (max-width: 970px) {
  /* body {
      background-color: #d00000;
    } */
  /*************************/
  /*****   GENERAL  ****/
  /*************************/

  .blackBannerContent {
    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1.5rem;
    }
  }

  nav {
    padding: 10px 20px;

    h1 {
      font-size: 1.5rem;
    }

    ul {
      display: none;
    }
  }

  .menubar {
    display: block;
  }

  .filterMenuIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 10px;
    }
  }

  .bannerContent {
    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1.5rem;
    }
  }

  .footerContent {
    display: flex;
    flex-direction: column;
  }

  .footerRight {
    margin-top: 50px;
    text-align: center;
  }

  /*************************/
  /*****  FIN GENERAL  ****/
  /*************************/

  /*************************/
  /*****    INICIO  ****/
  /*************************/

  .works {
    h2 {
      font-size: 2rem;
    }
  }

  .worksList {
    flex-direction: column;
    text-align: center;

    li {
      width: 100%;
      margin-bottom: 50px;
    }
  }

  .activitiesContent {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .activitiesLeft {
    margin-bottom: 50px;

    h2 {
      font-size: 2rem;
    }
  }

  .activitiesRight {
    text-align: center;

    p:first-child {
      font-size: 2rem;
    }

    p:nth-child(2) {
      font-size: 1rem;
    }
  }

  .contactContent {
    flex-direction: column;
  }

  .contactLeft {
    margin-bottom: 50px;

    h2 {
      font-size: 2rem;
    }
  }

  .contactRight {
    a {
      font-size: 1rem;
    }
  }

  .storeContent {
    h2 {
      font-size: 2rem;
      text-align: center;
    }
  }

  .storeList {
    flex-direction: column;
    text-align: center;

    li {
      width: 100%;
      margin-bottom: 50px;
    }
  }
  /*************************/
  /*****  FIN INICIO  ****/
  /*************************/

  /*************************/
  /*****   COLECCION   ****/
  /*************************/

  .colectionePageContent {
    flex-direction: column;
    align-items: center;
  }

  .colectionePageFilter {
    display: none;
  }

  .colectionePageProductList {
    flex-direction: column;

    li {
      width: 100%;
      margin-bottom: 50px;
    }
  }

  /*************************/
  /*****  FIN COLECCION  ****/
  /*************************/

  /*************************/
  /*****    ACTIVIDADES    ****/
  /*************************/

  .activitiesPageContent {
    flex-direction: column;
    align-items: center;
  }

  .activitiesPageFilter {
    display: none;
  }

  .activitiesPageProductList {
    flex-direction: column;

    li {
      width: 100%;
      margin-bottom: 50px;

      h3 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
        padding-left: 50px;
      }

      a {
        margin-top: 20px;
      }
    }
  }

  /*************************/
  /*****  FIN ACTIVIDADES  ****/
  /*************************/

  /*************************/
  /*****    TIENDA    ****/
  /*************************/

  .storePageContent {
    flex-direction: column;
    align-items: center;
  }

  .storePageFilter {
    display: none;
  }

  .storePageProductList {
    flex-direction: column;

    li {
      width: 100%;
      margin-bottom: 50px;
    }
  }
}
